@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.App {
  color: white;
  text-align: center;
  overflow-wrap: break-word;
}

p{
  color: #000;
  font-family: "Jersey 10";
  font-size: 16.2px;
  font-style: normal;
  font-weight: 200;
  overflow-wrap: break-word; 
}

h1{
  color: #000;
  font-family: "Jersey 10";
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
}
.container {
  width: 20rem;
  height: 22rem;
  background: #EEBC86;
  align-items: center;

}

.about-container{
  width: 98%;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.navbar{
  width: 100%;
  height: 12%;
  background-color: #FFEBEB;
  display: flex;
  justify-content: space-between;
  border-radius: 10 px;

}

.content{
  width: 100%;
  height: 88%;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
  align-items: center;
}
.url{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
}

.or{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  border-radius: 5px;
  margin-top: 10px;
}

.scanp{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  border-radius: 5px;
  margin-top: 0px;
}

.scan{
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  border-radius: 5px;
}


#logonav{
  padding-top : 5px;
  flex-shrink: 0;
  height: 80%;
  padding-left: 5px;
}

#coffee{
  width: 20 px;
  height:20px;
  padding-top: 12px;
}

#history{
  width: 20px;
  height:20px;
  padding-left: 10px;
  padding-top: 6px;
  padding-right:8px;
}

#about{
  color: #000;
  background-color: #FFEBEB;
  cursor: pointer;
  font-family: "Jersey 10";
  font-size: 16.2px;
  font-style: normal;
  line-height: normal;
  margin-top: 10px;
  text-decoration: none;
  border:none;
}

#pmain{
  padding-left: 5px;
  padding-bottom:0px;
  margin-bottom: 2px;
}

#url{
  width: 100%;
  height:20px;
  background: #FFEBEB;
  border: #1ecbe1 solid 2px;
  padding-left: auto;
  
}

#url_box {
  width: 60%;
  height: 30px;
  background: #FFEBEB;
  border: #1ecbe1 solid 2px;
  transition: width 1s ease, border 1s ease;
  margin-left: 30px;
  padding-left: 10px;
  padding-right: auto;
}

#url_box:focus {
  width: 100%; 
  border: #000 solid 1px; 
}


#form {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
}

#arrow{
  height:20px;
  width: 20px;
  border-radius: 20%;
  background: transparent;
}

#or_p{
  font-size: 25px;
}

#scanbutton {
  width: 35px;         
  height: 35px;
  align-items: center;
  border-radius: 10%; 
  background: #FFEBEB;
}

#back-button {
  background-color: #FFEBEB ;
  cursor: pointer;
  font-family: "Jersey 10";
  font-size: 16.2px;
  font-style: normal;
  line-height: normal;
  border:#000 solid 1px;

}

#back-button:hover {
  background-color: #FFEBEB ;
  opacity: 0.8;
  cursor: pointer;
  font-family: "Jersey 10";
  font-size: 16.2px;
  font-style: normal;
  line-height: normal;
  border:#000 solid 1px;
}

#hyperlink-name{
  color: #000;
  font-family: "Jersey 10";
  font-size: 16.2px;
  font-style: normal;
  line-height: normal;
  text-decoration:underline;
  border:none;
}